In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df= pd.read_excel("animales_apalarioja.xlsx")

In [3]:
df

,Nombre,Tipo de animal,Fecha de Entrada,Fecha de nacimiento,Nombre de ultimo estado,Fecha de ultimo estado
0,Bambi,Podenco,2022-06-01,2020-01-01,Adoptado,2023-02-20
1,Wanda,Mestizo,2022-06-06,2021-02-02,En adopción,2022-06-17
2,Tiger,Galgo,2022-06-06,2020-06-06,Adoptado,2022-12-17
3,Verdi,Mestizo,2022-06-20,2017-01-01,En adopción,2022-07-01
4,Carla,Mestizo,2022-06-20,2020-07-07,En adopción,2022-07-01
...,...,...,...,...,...,...
416,Morita,Mestizo,2023-03-20,2022-03-20,En periodo legal de recuperación,2023-03-20
417,Drako,Mestizo,2023-03-21,2023-03-21,En periodo legal de recuperación,2023-03-21
418,20230322-001,Alano Español,2023-03-22,2022-12-22,En periodo legal de recuperación,2023-03-22
419,20230322-002,Alano Español,2023-03-22,2022-12-22,En periodo legal de recuperación,2023-03-22
420,20230322-003,Europeo Común,2023-03-22,2022-03-23,En periodo legal de recuperación,2023-03-22

#### TRATAMIENTO

In [4]:
 df['Nombre de ultimo estado'].unique()

array(['Adoptado', 'En adopción', 'Fallecido', 'Recuperado',
       'Desaparecido', 'Cedido', 'En periodo legal de recuperación',
       'En custodia', nan], dtype=object)

In [5]:
adoptados = df.loc[df['Nombre de ultimo estado'] == 'Adoptado']

In [6]:
adoptados

,Nombre,Tipo de animal,Fecha de Entrada,Fecha de nacimiento,Nombre de ultimo estado,Fecha de ultimo estado
0,Bambi,Podenco,2022-06-01,2020-01-01,Adoptado,2023-02-20
2,Tiger,Galgo,2022-06-06,2020-06-06,Adoptado,2022-12-17
5,Trixie,Mestizo,2022-06-20,2021-01-01,Adoptado,2022-12-13
6,Zelenski,Mestizo,2022-06-20,2020-07-22,Adoptado,2022-11-08
7,Cheryl,Mestizo,2022-06-20,2020-01-01,Adoptado,2023-02-12
...,...,...,...,...,...,...
384,Jack,Ratonero Bodeguero Andaluz,2023-02-19,2022-07-20,Adoptado,2023-03-07
385,Kupel,Mestizo,2023-02-19,2022-02-19,Adoptado,2023-03-15
389,Hilka,Mestizo,2023-02-23,2022-12-10,Adoptado,2023-03-08
390,Freyja,Husky Siberiano,2023-02-24,2022-10-05,Adoptado,2023-02-24
392,Wilson,Mestizo,2023-02-27,2022-09-05,Adoptado,2023-03-20

In [7]:
def clasificar_especie(tipo):
    if tipo == 'Europeo Común':
        return 'gato'
    else:
        return 'perro'

In [9]:
adoptados['Especie'] = adoptados['Tipo de animal'].apply(clasificar_especie)

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_7300\2926034670.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adoptados['Especie'] = adoptados['Tipo de animal'].apply(clasificar_especie)

In [10]:
adoptados

,Nombre,Tipo de animal,Fecha de Entrada,Fecha de nacimiento,Nombre de ultimo estado,Fecha de ultimo estado,Especie
0,Bambi,Podenco,2022-06-01,2020-01-01,Adoptado,2023-02-20,perro
2,Tiger,Galgo,2022-06-06,2020-06-06,Adoptado,2022-12-17,perro
5,Trixie,Mestizo,2022-06-20,2021-01-01,Adoptado,2022-12-13,perro
6,Zelenski,Mestizo,2022-06-20,2020-07-22,Adoptado,2022-11-08,perro
7,Cheryl,Mestizo,2022-06-20,2020-01-01,Adoptado,2023-02-12,perro
...,...,...,...,...,...,...,...
384,Jack,Ratonero Bodeguero Andaluz,2023-02-19,2022-07-20,Adoptado,2023-03-07,perro
385,Kupel,Mestizo,2023-02-19,2022-02-19,Adoptado,2023-03-15,perro
389,Hilka,Mestizo,2023-02-23,2022-12-10,Adoptado,2023-03-08,perro
390,Freyja,Husky Siberiano,2023-02-24,2022-10-05,Adoptado,2023-02-24,perro
392,Wilson,Mestizo,2023-02-27,2022-09-05,Adoptado,2023-03-20,perro

In [12]:
(adoptados['Especie'] == 'gato').sum()

4